@tailwind base;
@tailwind components;
@tailwind utilities;



/* This code for container */
 .container{
  @apply  py-5
} 

/* This code for row */
 .row{
  @apply flex justify-between items-center

} 


/* This code for button */

 .button{
  @apply bg-primaryColor border-2 border-primaryColor text-white px-5 py-1 rounded-full
}
.button:hover{
  @apply bg-transparent text-primaryColor border-2 border-primaryColor px-5 py-1 rounded-full
}
 .button-sm{
  @apply bg-primaryColor border-2 border-primaryColor text-white px-2 py-2 rounded-full
}
.button-sm:hover{
  @apply bg-transparent text-primaryColor border-2 border-primaryColor px-2 py-1 rounded-full
}

/* This code for text color */

 .secondaryColor{
  @apply text-gray-500
} 

/*********************************************
  Custom Row CSS Code 
**********************************************/


.laptop-header-parent-position{
  position: relative;
}
.laptop-header-position{
  position: sticky;
  top: 0px;
}
.mobile-menu-parent-position{
  position: relative;
}


.index{
  z-index: 9999;
}
/*=================================================
header,footer
===================================================*/


.header-custom-row, .footer-custom-row{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*=================================================
common website feature like logo menu image
===================================================*/

.custom-laptop-menu{
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.custom-laptop-menu a{
  font-size: 18px;
  font-weight: bold;
  
}

.custom-mobile-menu{
  font-size: 25px;
  margin-top: 15px;
  display: none;
}
.mobile-menu-position{
  position: absolute;
  top: 20px;
  right: 0px;
 
}

/*=================================================
css box model
===================================================*/
section{
  margin-top: 35px;
}
.custom-container{
  padding: 5px 10px;
  width: 1024px;
  margin: 0 auto;
}
.custom-row{
   padding: 5px 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.custom-column{
   padding: 5px 10px;
}
/*=================================================
different types of font size according to tag name
===================================================*/
h1{
   font-size: 72px;
   font-weight: bold;
}
h2{
   font-size: 60px;
   font-weight: bold;
}
h3{
   font-size: 48px;
   font-weight: bold;
}
h4{
   font-size: 20px;
   font-weight: bold;
}
p{
   font-size: 18px;
}
h1,h2,h3,h4,p,b{
  margin: 6px 0px;
}
/*=================================================
tablet screen======================================
===================================================*/
@media only screen and (max-width: 768px) and (min-width: 641px)   {
  section{
      margin-top: 0px;
  }
 
   .custom-laptop-menu{
      display: none;
   }
   .custom-mobile-menu{
      display: inline;
      font-size: 23px;
   }
  .custom-container{
      padding: 0px 50px;
      width: 100%;
      margin: 0 auto;
   }
   .custom-row{
      display: inline;
       padding: 0px 10px;
       width: 100%;
       margin: 0 auto;
   }
   .custom-column{
       padding: 0px 10px;
   }
   
   h1{
      font-size: 60px;
      font-weight: bold;
      text-align: left;
  }
  h2{
      font-size: 48px;
      font-weight: bold;
    
  }
  h3{
      font-size: 36px;
      font-weight: bold;
      
  }
  h4,p{
      font-size: 18px;
      
  }
   h1,h2,h3,h4,p,b{
      margin: 4px 0px;
      text-align: center;
      
   }
   /* dynamic code start from here and it will be change project by project*/ 
   .tablet-button{
      display: flex;
      justify-content: center;
   }
   .tablet-social-link{
      display: flex;
      justify-content: center;
   }
   
  .tablet-custom-image{
      margin-top: 50px;
  }
   /* dynamic code end from here and it will be change project by project*/ 
}


/*=================================================
mobile screen=====================================
===================================================*/
@media only screen and (max-width: 640px) and (min-width: 0px) {
  section{
      margin-top: 0px;
  }

   .custom-laptop-menu{
      display: none;
   }
   .custom-mobile-menu{
      display: inline;
      font-size: 20px;
   }
  .custom-container{
      padding: 5px 50px;
      width: 100%;
      margin: 0 auto;
   }
   .custom-row{
      display: inline;
       padding: 5px 10px;
       width: 100%;
       margin: 0 auto;
   }
   .custom-column{
       padding: 5px 10px;
   }
   
   h1{
      font-size: 48px;
      font-weight: bold;
  }
  h2{
      font-size: 36px;
      font-weight: bold;
  }
  h3{
      font-size: 18px;
      font-weight: bold;
  }
  h4,p{
      font-size: 16px;
  }
   h1,h2,h3,h4,p,b{
      margin: 2px 0px;
      text-align: center;
   }
  /* dynamic code start from here and it will be change project by project*/ 
   .tablet-custom-image{
      margin-top:35px;
  }
   .tablet-button{
      display: flex;
      justify-content: center;
   }
   .tablet-social-link{
      display: flex;
      justify-content: center;
   }
   
   /* dynamic code end from here and it will be change project by project*/ 
  }



